
<!-- Favicon -->
<link rel="shortcut icon" href="/static/images/bg-digital-signature.jpg">

<!-- Boxicons CSS -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<title>E-Payment Services - Unified Electronic Identification System</title>

<link rel="stylesheet" href="/static/css/style2.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css">
<link rel="stylesheet" href="/static/css/card.css">
<link rel="stylesheet" href="/static/css/admin_dash.css">

<link rel="stylesheet" href="/static/css/datatables.min.css"> <!-- Data Tables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">


<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom styles -->
<link href="/static/css/dashboard.css" rel="stylesheet">


<!-- Content -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h6>Choose a service for e-payment services</h6>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Citizen</button>
    </div>
  </div>
</div>

<div class="container" id="banks">
          <div class="box-container">
            <div class="box bg-light">
              <img src="/static/images/Airtel.jpg" alt="" class="img-fluid mb-3" >
              <h3>Airtel</h3>
              <a href="#" class="btn">Open</a>
            </div>

            <div class="box bg-light">
                <img src="/static/images/mpamba.png" alt="" class="img-fluid mb-3" >
                <h3>TNM Mpamba</h3>
                <a href="#" class="btn" >Open</a>
            </div>

            <div class="box bg-light">
                <img src="/static/images/MK.png" alt="" class="img-fluid mb-3" >
                <h3>Mukuru</h3>
                <a href="#" class="btn" >Open</a>
            </div>
          </div>
        </div>


<!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>

<!-- Custom JS -->
<script src="js/scripts4.js"></script>

<!-- JavaScript -->
<!-- script src="js/jquery-3.1.1.js"></script-->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<script src="js/owl.carousel.js"></script>
<!-- script src="js/bootstrap.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
  integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/script2.js"></script>
<script src="js/function.js"></script>
</body>

</html>
